<launch>
    <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find QLearning-Navigation-)/config/logger_level.conf"
    />
     <arg 
      name="record" 
      default="disable"
    />
   
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find QLearning-Navigation-)/world/circuit2world"/>
        <arg name="gui" value="false"/>
    </include>

    <node
        pkg="QLearning-Navigation-"
        name="learner"
        type="learner"
        output="screen"
    />
  
    <node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -O $(find QLearning-Navigation-)/results/sim.bag -x /camera/(.*)"
        if="$(eval record == 'enable')"
    />
</launch>
