<launch>
    <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find QLearning-Navigation-)/config/logger_level.conf"
    />
   
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find QLearning-Navigation-)/world/circuitworld"/>
        <arg name="gui" value="true"/>
    </include>

    <node
        pkg="QLearning-Navigation-"
        name="testrun"
        type="testrun"
        output="screen"
    />
</launch>
